.stat-field, .stat-score, #skill-block, #saving-throws {
  border: 2px solid black;
}

#detail-pane {
    height: 100%;
    overflow: scroll;
    width: calc(90% - 395px);
}

#detail-pane .views-field-body {
    display: none;
    padding-left: 25px;
    height: 584px;
}

#main.clearfix {
    width: 90%;
}

#proficiency {
  border: 2px solid black;
}

#proficiency div {
  border: 2px solid black;
  border-radius: 50%;
  padding: 5%;
  background-color: white;
  z-index: 100;
  position: relative;
  left: -10px;
}

#skill-throw-block {
  float: left;
  margin-left: 10px;
  width: 250px;
  height: 100%;
}

#stat-block {
  width: 120px;
  text-align: center;
  float: left;
  height: 621px;
  background-color: lightgrey;
}

#wrapper h4 {
  text-align: center;
}

.detail-selector {
    float: left;
    border: 2px solid black;
    display: inline-block;
    width: calc((90% - 395px)/4);
}

.saving-throw div, .saving-throw input, .skill div, .skill input, #proficiency div {
  display: inline;
  margin-right: 1%;
}

.stat-field {
  width: 70%;
  margin: 25px auto;
  background-color: white
}

.stat-field h5 {
  margin-top: 0%;
  margin-bottom: 0%;
}

.stat-modifier {
  font-size: 2em;
  padding-bottom: 4%;
  padding-top: -2%;
}

.stat-score {
  width: 40%;
  border-radius: 50%;
  margin: auto;
  z-index: 100;
  background-color: white;
  margin-bottom: -18%;
}

.wrapper {
    height: 621px;
}

input[type='checkbox'] {
  margin-left: 4%;
}
